# Node dependencies
node_modules/
**/node_modules/

# SQLite & local dev DBs
*.sqlite
*.db
*.db-journal

# Allow only the one shared DB schema file
!backend/shared-db/init.sql

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS cruft
.DS_Store

# Env files
*.env